<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/admin/employees' ? 'active' : '' %>" href="/admin/employees">Employees
                </a>
            </li>
        </ul>
        <ul class="main-header__item-list">
            <% if(!isAuthenticated) {%>
                <li class="main-header__item">
                    <a href="/login">Login</a>
                </li>
            <% } %>

            <% if(isAuthenticated) {%>
                <li class="main-header__item">
                    <a href="/logout">Logout</a>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/employees' ? 'active' : '' %>" href="/admin/employees">Employees
                </a>
            </li>
        </ul>
        <ul class="main-header__item-list">
            <% if(!isAuthenticated) {%>
                <li class="main-header__item">
                    <a href="/login">Login</a>
                </li>
            <% } %>

            <% if(isAuthenticated) {%>
                <li class="main-header__item">
                    <a href="/logout">Logout</a>
                </li>
            <% } %>
        </ul>
</nav>